body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1 {
    size: 50 px;
}
h2 {
    size: 40 px;
}
.orange-light {
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 4%;

}
.half-width img {
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section {
    height: 500 px;
    display: flex;
    margin-bottom: 200 px;
}
.anchor-button {
    text-decoration: none;
    padding: 10px 20px;
    /* background-image: linear-gradient (lightsalmon, tomato); */
    background-color: tomato;
    color: white;
    border-radius: 10px;
    font-weight: 900;
}
.dream-section {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience {
    box-shadow: 10px 10px 40px grey;
    /* margin: 20px; */
    height: 80%;
    border-radius: 15px;
    padding: 30px 30px;
    /* background-color: white; */
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stack {
    border-left: 10px solid orange;
    /* border-image: linear-gradient (salmon, tomato) ; */
}
#baby-web {
    border-left: 10px solid blueviolet;
}
footer p {
    text-align: center;
    font-size: 12px;
}